.background {
    background: url('../img/404background.jpg') -25px -50px;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:0;
    height:100%;
    background-size: 105%;
}
.text {
    pointer-events: none;
    position:absolute;
    top:50%;
    left:18%;
    transform: translate(-50%, -50%);
    color:white;
    font-size:200px;
    text-shadow: 2px 2px black;
    font-family: 'Atomic Age', cursive;
}
.subtext {
    top:70.5%;
    left:20%;
    font-size:80px;
}
.back {
    pointer-events: auto;
    top:87%;
    left:18%;
    font-size:1px;
}
@media only screen and (max-width: 992px){ .background{background-size:100%;background: url('../img/404background.jpg') -1200px -90px;} .mobile-wrapper{display: none;} .text{font-size:150px;left:50%;top:30%;} .subtext{font-size:30px;top:50%;left:70%;width:100%;} .back{font-size:30px;top:60%;left:85%;width:100%;}  }