body {
  background-image: url("/img/wallpaper.jpg");
  overflow: hidden;
}

.sorp {
  position: relative;
  /* border-radius: 50%; */
  background-size: 100% 100%;
  background-image: url("/img/avatar.png");
  width: 200px;
  height: 200px;
  image-rendering: -webkit-optimize-contrast;
}

.sorp-hover {
  position: absolute;
  width: 100%;
  height: 100%;
}

.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

h3 {
  font-size: 2.92rem;
  margin: 1.9466666667rem 0 1.168rem 0;
  line-height: 110%;
  font-weight: 400;
  text-align: center;
}

.slowfloatanimation {
  animation: float 4.5s ease-in-out infinite;
}

@keyframes float {
  0% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translatey(0px);
  }

  50% {
    /* box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2); */
    transform: translatey(-5px);
  }

  100% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translatey(0px);
  }
}

.link {
  transition: all 0.35s;
}

@keyframes bounceAnimation {
  0% {
    transform: translateY(0px);
  }
  15% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-45px);
  }
  55% {
    transform: translateY(-45px);
  }
  85% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgb(255, 255, 255, 0%);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 50%);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 255, 255, 70%);
  border-radius: 100px;
}

.container {
  margin-top: 20px;
  margin-left: 10%;
  margin-bottom: 10px;
  margin-right: 10%;
  width: 80%;
  background-color: black;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(10, max-content);
  grid-gap: 1rem;
  grid-row-gap: 10px;
  background-color: rgba(0, 0, 0, 0.425);
  border-radius: 15px;
  border: 8px solid rgba(0, 0, 0, 0.05);
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box;
  overflow-y: scroll;
  height: 80vh;
}

.container > div:last-child {
  border-bottom: unset;
}

.container > div {
  border-bottom: 2px solid rgb(255, 255, 255, 20%);
  min-width: 0;
  min-height: 0;
  overflow-wrap: break-word;
  display: grid;
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
  grid-template-columns: 128px 200px auto 256px;
  overflow: hidden;
  grid-gap: 10px;
  align-items: center;
}

.container > div > .content-text {
  max-height: 200px;
  overflow-y: scroll;
  border-left: 2px solid rgb(255, 255, 255, 5%);
  padding-left: 10px;
}

.container > div > .content-links {
  border-left: 2px solid rgb(255, 255, 255, 20%);
  padding-left: 10px;
  text-align: center;
}

.project-image {
  float: left;
}

.project-content {
  float: right;
}

.container > * {
  float: right;
}

.container > img {
  float: left;
}

h2,
p {
  color: white;
}

.row > .title {
  text-align: left;
}

.bounce {
  animation: 0.75s bounceAnimation ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.link:hover {
  transform: translateY(-5px);
}

.links > img {
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: transform 125ms;
  border-radius: 30%;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
  -webkit-box-sizing: unset;
  box-sizing: unset;
  image-rendering: optimizeQuality;
}

.links > img:hover {
  transform: translateY(-5px);
}

.links {
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  background-color: rgba(0, 0, 0, 0.425);
  border-radius: 15px;
  width: fit-content;
  text-align: center;
  border: 3px solid rgba(0, 0, 0, 0.125);
}

.button > h2 {
  font-family: "Poppins", sans-serif;
  color: white;
  margin: 5px;
}

a {
  color: inherit;
  text-decoration: none;
}

@keyframes dtagAnimation {
  0% {
    transform: translate(-100%, -150%);
    clip-path: inset(100% 0% 0% 0%);
  }
  15% {
    clip-path: inset(100% 0% 0% 0%);
  }
  100% {
    transform: translate(-100%, 10%);
    clip-path: inset(0% 0% 0% 0%);
  }
}

.dtag {
  position: fixed;
  left: 50%;
  animation: 0.5s dtagAnimation;
  transform: translate(-100%, 10%);
  background-color: rgba(0, 0, 0, 0.425);
  border-radius: 15px;
  width: fit-content;
  text-align: center;
  border: 3px solid rgba(0, 0, 0, 0.125);
}

#sorp-text,
h2,
p {
  font-family: "Poppins", sans-serif;
}

#discord-tag {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: white;
  padding: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgb(148, 148, 148);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

@keyframes scaleDown0 {
  0% {
    transform: scale(1, 1);
  }
  20% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(0, 0);
  }
}

@keyframes scaleDown50 {
  0% {
    transform: translate(-50%) scale(1, 1);
  }
  20% {
    transform: translate(-50%) scale(1.2, 1.2);
  }
  100% {
    transform: translate(-50%) scale(0, 0);
  }
}

@keyframes show0 {
  0% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes showContent {
  0% {
    clip-path: inset(0% 100% 0% 0%);
  }
  100% {
    clip-path: inset(0% 0% 0% 0%);
  }
}

@keyframes displayLinks {
  0% {
    transform: translate(-50%, 300%) scale(0, 0);
  }
  100% {
    transform: translate(-50%, 0) scale(1, 1);
  }
}

@keyframes showSorp {
  0% {
    transform: translate(-200%, 0) scale(0.1, 0.1);
  }
  100% {
    transform: translate(0, 0) scale(0.5, 0.5);
  }
}

.button {
  position: absolute;
  left: 50%;
  bottom: 5%;
  height: 5%;
  transform: translate(-50%);
  background-color: rgba(0, 0, 0, 0.425);
  border-radius: 15px;
  width: fit-content;
  text-align: center;
  border: 3px solid rgba(0, 0, 0, 0.125);
}

.button > h2 {
  font-family: "Poppins", sans-serif;
  color: white;
  margin: 15px;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0px;
  padding-top: 5px;
}

/* Laptop */
@media only screen and (max-width: 1280px) {
  .container > div > .project-image {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
  }
  .container > div > .content-title {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 4;
    border-bottom: 2px solid rgb(255, 255, 255, 20%);
  }
  .container > div > .content-text {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .container > div > .content-links {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 3;
  }
  .container > div {
    grid-template-rows: unset;
    grid-template-columns: 128px auto 256px;
  }
}

.sorpProjects {
  position: fixed;
  margin-left: -50px;
  margin-top: -45px;
  transform: scale(0.5);
}

.sorp > #sorp-text {
  color: white;
  position: relative;
  top: 95%;
}

/* Tablet */
@media only screen and (max-width: 905px) {
  .sorpProjects {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    transform: translate(-50%);
  }
  .sorp > #sorp-text {
    position: absolute;
    top: 25%;
    left: 100%;
    color: white;
  }
  .container > div > .content-text {
    border-left: unset;
  }
  .container {
    height: 55vh;
  }
  @keyframes showSorp {
    0% {
      transform: translate(-200%, 0) scale(0.1, 0.1);
    }
    100% {
      transform: translate(-50%, 0) scale(1, 1);
    }
  }
}

/* Phone */
@media only screen and (max-width: 434px) {
  .container {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
  }
  .container > div {
    grid-template-rows: unset;
    grid-template-columns: auto;
  }
  .container > div > .project-image {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
    border-bottom: unset;
    margin-left: auto;
    margin-right: auto;
  }
  .container > div > .content-title {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
    border-bottom: 1px solid rgb(255, 255, 255, 20%);
  }
  .container > div > .content-text {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
    border-left: unset;
  }
  .container > div > .content-links {
    border-top: 1px solid rgb(255, 255, 255, 20%);
    grid-row-start: 4;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 1;
    border-left: unset;
    font-size: 100%;
  }
}

@media only screen and (max-width: 865px) {
  .content-links {
    font-size: 80%;
  }
}
