.sorp {
    position: relative;
    border-radius: 50%;
    background-size: 100% 100%;
    top: 3%;
    background-image: url('https://avatars2.githubusercontent.com/u/18190639?s=460&v=4');
    width: 200px;
    height: 200px;
}

.slowfloatanimation {
    animation: float 4.5s ease-in-out infinite;
}

@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }

    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translatey(-5px);
    }

    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }
}

.link {
    transition: all 0.35s;
}

.link:hover {
    transform: translateY(-5px);
}

body {
    background-image: url('../img/wallpaper.jpg');
}

.shadowed {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

.links > img {
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: transform 125ms;
    border-radius: 30%;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    -webkit-box-sizing: unset;
    box-sizing: unset;
}

.links > img:hover {
    transform: translateY(-5px);
}

.links {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    background-color: rgba(0, 0, 0, 0.425);
    border-radius: 15px;
    width: fit-content;
    text-align: center;
    border: 3px solid rgba(0, 0, 0, 0.125);
}

@keyframes dtagAnimation {
    0% { transform: translate(-100%, -150%); }
    100% {transform: translate(-100%, 10%);}
}

.dtag {
    position: fixed;
    left: 50%;
    animation: 0.5s dtagAnimation;
    transform: translate(-100%, 10%);
    background-color: rgba(0, 0, 0, 0.425);
    border-radius: 15px;
    width: fit-content;
    text-align: center;
    border: 3px solid rgba(0, 0, 0, 0.125);
}

#sorp-text {
    font-family: 'Poppins', sans-serif;
}

#discord-tag {
    font-family: 'Poppins', sans-serif; 
    font-size: 16px;
    color:white; 
    padding:10px; 
    margin-top:0; 
    margin-bottom: 0;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: rgb(148, 148, 148);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}